/.idea/
/.vscode/
/.atl/
/work/
/outputs/
.env
.env.*
!.env.example
!**/.env.example
**/node_modules/
**/dist/
**/playwright-report/
**/test-results/
**/target/
**/application-local.properties
**/application-local.yml
**/application-local.yaml
*.cer
*.crt
*.jks
*.key
*.keystore
*.p12
*.pem
*.pfx
*.log
